<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <meta content="initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalble=no" name="viewport"/>

        <title>登录</title>

        <link href="semantic/dist/semantic.min.css" rel="stylesheet" />
        <link href="css/main.css" rel="stylesheet" />

    </head>
    <body>


    <div class="ui container" style="padding-top:10%">
        <div class="ui grid center aligned">
            <div class="row">
                <div class="sixteen wide tablet six wide computer column">
                    <div class="ui left aligned segment">
                        <div id="form1" class="ui form">
                            <h1 class="ui header center aligned">
                                <img src="img/logo.png" alt="stagblogo" class="ui small">

                                <div class="content">

                                </div>
                            </h1>

                            <div class="field">
                                <label>
                                    用户名:
                                </label>
                                <div class="ui fluid icon input">
                                    <input name="user_name" id="u_name" type="email" autocomplete="off" style="width:100%!important;min-width:100%;width:100%;">
                                    <i class="icon mail outline"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label>
                                    密码:
                                </label>
                                <div class="ui fluid icon input">
                                    <input name="password" id="u_pass" type="password" autocomplete="off" style="width:100%!important;min-width:100%;width:100%;">
                                    <i class="icon key"></i>
                                </div>
                            </div>
                            <div class="field">
                                <a class="ui teal right labeled icon button fluid" href="index.html">
                                    登录
                                    <i class="icon sign in"></i>
                                </a>

                                <a class="ui blue right labeled icon button fluid" href="index.html">
                                    注册
                                    <i class="icon spy"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>