<!DOCTYPE HTML>
<html lang="zh">
    <head>
        <title> 首页 </title>
        <link rel="icon" href="img/favicon.ico">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="semantic/dist/semantic.min.css" rel="stylesheet">
        <link href="plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link rel="shortcut icon" href="img/favicon.ico">
    </head>
    <body class="pace-done" style="overflow: hidden;">
              <div id="contexWrap">
                  <!--   导航Start  -->
                    <% include Public/Left.ejs %>
                  <!--   左侧导航End  -->


                  <!--  顶部导航Start -->

                  <div class="pusher pushable">
                      <div class="pusher">
                          <div class="navslide navwrap">
                              <div class="ui menu icon borderless grid inverted red" data-color="inverted red">
                                  <a class="item labeled openbtn">
                                      <i class="ion-navicon-round big icon"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!--  顶部导航End  -->

              </div>
    </body>

    <!--jquery-->
    <script src="js/jquery-2.1.4.min.js"></script>
    <!--jquery-->
    <!--semantic-->
    <script src="semantic/dist/semantic.min.js"></script>
    <!--semantic-->
    <!--counter number-->

    <!--flot chart-->

    <script src="plugins/nicescrool/jquery.nicescroll.min.js"></script>

    <script src="plugins/cookie/js.cookie.js"></script>

    <script src="js/main.js"></script>

</html>