<div class="ui sidebar vertical left menu overlay borderless visible sidemenu inverted grey" style="transition-duration: .2s;overflow: hidden;outline: none" data-color="grey",tabindex="0">
    <a class="item logo" href="/index">
        <img src="img/logo.png" alt="stagblogo" class=""><img src="img/thumblogo.png" alt="stagblogo" class="displaynone">
    </a>
    <div class="ui accordion inverted">

        <a class="title item">
            <i class="ion-speedometer titleIcon icon"></i>
            首页
            <i class="dropdown icon"></i>
        </a>
        <div class="content">
            <a class="item" href="index">
                系统状态
            </a>
            <a class="item" href="index">
                管理员设置
            </a>
        </div>



        <div class="title item">
            <i class="ion-arrow-graph-up-right titleIcon icon"></i>
            用户管理
            <i class="dropdown icon"></i>
        </div>
        <div class="content">
            <a class="item" href="chart.html">
                用户管理 1
            </a>
            <a class="item" href="chart-2.html">
                用户管理 2
            </a>

        </div>

    </div>


    <div class="ui dropdown item displaynone scrolling" tabindex="0">
        <span class="displaynone">仪表盘</span>
        <i class="ion-speedometer icon"></i>

        <div class="menu transition hidden" tabindex="-1" style="overflow: hidden; outline: none;">
            <div class="header">
                仪表盘
            </div>
            <div class="ui divider"></div>
            <a class="item" href="index">
                仪表盘
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone scrolling" tabindex="0">
        <span class="displaynone">仪表盘</span>
        <i class="ion-arrow-graph-up-right icon"></i>

        <div class="menu transition hidden" tabindex="-1" style="overflow: hidden; outline: none;">
            <div class="header">
                仪表盘
            </div>
            <div class="ui divider"></div>
            <a class="item" href="index">
                仪表盘
            </a>
        </div>
    </div>
</div>